.form-group{
  margin-left: 20px;
  width:500px;

} 

.small{
   margin-left: 20px;
   width:200px;
}

.modal-title {
  color: black;
}

.footer{
    border-top: 0px !important;
}

.header{
    border-bottom: 0px !important;
}

.email{
  margin-top: 15px;
  width: 500px;
}
