<!--<h3>Forgot Password?</h3>
<input type="text" placeholder="your.password@domain.com" [(ngModel)]="emailAddress">
<button (click)="recoverPass()">Recover password?</button>-->

<modal #modal>
    <modal-header class="header" [show-close]="true">
        <h3>Forgot Password?</h3>
    </modal-header>
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-8">
                <input type="email" class="form-control email" id="email" placeholder="your.password@domain.com" name="email" [(ngModel)]="emailAddress"
                />
            </div>
        </div>
    </form>

    <modal-footer class="footer">
        <button class="btn btn-default" type="cancel" data-dismiss="modal">Cancel</button>
        <button class="btn btn-info" type="submit" data-dismiss="modal" (click)="recoverPass()">Recover Password</button>
    </modal-footer>

</modal>