<div id="header" class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <h2>Planning Poker</h2>
        <p>Planning poker, also called Scrum poker, is a consensus-based, gamified technique for estimating, mostly used to
          estimate effort or relative size of development goals in software development.</p>
          <button class="btn btn-primary" (click)="letsPlay()">Let's play!</button>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <h2>Velocity Calculator</h2>
        <h4>
          <i class="fa fa-exclamation-circle" aria-hidden="true">  Coming Soon!</i>
        </h4>
        <p>A tool to help plan the amount of tasks a scrum team can complete in a given sprint.</p>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <h2>Relative Weighing</h2>
        <h4>
          <i class="fa fa-exclamation-circle" aria-hidden="true">  Coming Soon!</i>
        </h4>
        <p>A tool to help weigh the positives and negatives of a potential feature.</p>
      </div>
    </div>
  </div>
</div>