<div class="container-fluid">
    <div class="container-fluid">
        <div class="row estimate">
            Score
            <div class="col-xs-12 results">
                8
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row dealer">
            <div class="col-xs-12 dealerHeader">
                <h4>Dealer Controls</h4>
            </div>
            <div class="col-xs-12 flip">
                <a class="flipcards"><i class="controls fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Flip Cards"
                    onmouseenter="$(this).tooltip('show')" (click)="flipCards()">  Flip</i></a>
                <a class="resetBoard"><i class="controls fa fa-undo" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reset board"
                      onmouseenter="$(this).tooltip('show')">  Reset</i></a>
                <a class="add" (click)="openAddUserStory()"><i class="addStory fa fa-plus" aria-hidden="true">  Add User Story </i></a>
                <app-user-story></app-user-story>
            </div>
        </div>
    </div>
    <div class="container-fluid tabs">
        <div class="row ">
            <div class="col-xs-12 controlTabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#players" data-toggle="tab" aria-expanded="true">Players</a></li>
                    <li class=""><a href="#stories" data-toggle="tab" aria-expanded="false">User Stories</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in" id="players">
                        <table class="table players">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Player</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><i class="break fa fa-coffee" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Step Away" onmouseenter="$(this).tooltip('show')"></i></td>
                                    <td>Display Name</td>
                                    <td></td>
                                    <td><i class="exit fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Exit Game" onmouseenter="$(this).tooltip('show')"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="stories">
                        <table class="table storyControls">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Points</th>
                                    <th>T-Shirt</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let story of stories" >
                                <tr>
                                    <td>{{story.storyId}}</td>
                                    <td>{{story.title}}</td>
                                    <td>-</td>
                                    <td>{{story.shirtSize}}</td>
                                    <td><a class="editStory"><i (click)="editStory(story)" class="edit fa fa-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Edit Story" onmouseenter="$(this).tooltip('show')"></i></a></td>
                                    <td><a class="trashStory" (click)="storyToDelete=story" data-toggle="modal" data-target="#deleteStoryModal"><i class="trash fa fa-trash" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Delete Story" onmouseenter="$(this).tooltip('show')"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>




</div>


<modal id="deleteStoryModal">

    <h4 class="deleteVerbiage">Are you sure you want to delete selected User Story?</h4>
    <modal-footer>
        <label>Story "{{storyToDelete.title}}" will be permenently deleted. </label>
        <button class="btn btn-default" type="cancel" data-dismiss="modal">Cancel</button>
        <button class="btn btn-info" (click)="deleteStory(storyToDelete)" type="submit" data-dismiss="modal">Delete</button>

    </modal-footer>


</modal>
