
.estimate{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.results{
    background-color: white;
    height: 150px;
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 100px;
}

.dealerHeader h4{
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: left;  
    margin-top: 10px;
}

.controls{
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: left;  
    margin-top: 10px;
    cursor: pointer;
    padding-right: 20px;
}

.addStory{
    color: black;
    font-size: 20px;
    font-weight: bold;  
    margin-top: 5px;
    cursor: pointer;
    margin-left: 100px;
}

.controlTabs {
   margin-top: 20px;
}

.table .voted {
    font-size: 20px;
    color: black;
}

.table .break,
.table .trash,
.table .edit,
.table .exit {
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.table .active {
    cursor: pointer;
    font-size: 20px;
    /*color: green;*/
}

.deleteVerbiage {
    color: black;
    text-align: center;
}


.storyControls{
    cursor: pointer;
}

.table tr.active td{
    background-color: white;
}

.invite{
   bottom:0;
   position: absolute;
    
}

.scoredisplay {
    font-size: 4vw;    
    font-weight: bold;
    text-align: center;  
    
}

.infinity {
    max-width: 100%;
    max-height: 100%;
    height: 60px;
    width: 85px;
}