<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>Create a new game</h1>
		<form name="form" ng-submit="createGame()" novalidate>
			<div class="form-group">
				<label for="inputgameName">Game Name:</label>
				<input class="form-control" id="inputGameName" type="text" placeholder="Game Name">
			</div>
			<div class="form-group">
				<label for="inputDescription">Description:</label>
				<textarea class="form-control" id="inputDescription" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label for="inputVelocity">Team Velocity:</label>
				<input class="form-control" id="inputVelocity" type="number">
				<p class="help-block">The amount of work a Team can tackle during a single Sprint.</p>

			</div>
			<div class="form-group">
				<label>Share the velocity with all players?</label>
				<div class="radio">
					<label>
						<input name="optionsVelocity" id="optionsVelocity1" type="radio"  value="option1">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsVelocity" id="optionsVelocity2" type="radio" checked="" value="option2">
						No
					</label>
				</div>

			</div>

			<div class="form-group">
				<label>Are you also effort pointing?</label>

				<div class="radio">
					<label>
						<input name="optionsEffortPoint" id="optionsEffortPoint1" type="radio"  value="option1">
						Yes, please deal me cards
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsEffortPoint" id="optionsEffortPoint2" type="radio" checked="" value="option2">
						No, I'm just a dealer
					</label>
				</div>
			</div>
			<div class="form-group">
				<label>Choose your card set:</label>

				<div class="radio">
					<label>
					<input name="optionsCardSet" id="optionsCardSet1" type="radio" checked=""  value="option1">
					Fibonacci ( 0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ?, Pass, break )
					</label>
				</div>
				<div class="radio">
					<label>
				<input name="optionsCardSet" id="optionsCardSet2" type="radio"  value="option2">
					Modified Fibonacci ( 0, ½, 1, 2, 3, 5, 8, 13, 20, 40, 100, ?, Pass, break )
				</label>
				</div>
				<div class="radio">
					<label>
				<input name="optionsCardSet" id="optionsCardSet3" type="radio"  value="option3">
					T-shirts ( xxs, xs, s, m, l, xl, xxl, ?, Pass, break )
				</label>
				</div>
				<div class="radio">
					<label>
				<input name="optionsCardSet" id="optionsCardSet4" type="radio"  value="option4">
					Powers of 2 ( 0, 1, 2, 4, 8, 16, 32, 64, ?, Pass, break )
				</label>
				</div>

			</div>

			<div class="form-group">
				<label>Auto-flip after everyone has voted?</label>

				<div class="radio">
					<label>
						<input name="optionsAutoFlip" id="optionsAutoFlip1" type="radio"  value="option1">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsAutoFlip" id="optionsAutoFlip2" type="radio" checked="" value="option2">
					    No
        	        </label>
				</div>
			</div>

			<div class="form-group">
				<label>Allow players to change their vote after reveal?</label>

				<div class="radio">
					<label>
						<input name="optionsChangeVote" id="optionsChangeVote1" type="radio"  value="option1">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsChangeVote" id="optionsChangeVote2" type="radio" checked="" value="option2">
						No
					</label>
				</div>
			</div>

			<div class="form-group">
				<label>Would you like to calculate the score?</label>

				<div class="radio">
					<label>
						<input name="optionsScore" id="optionsScore1" type="radio"  value="option1">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsScore" id="optionsScor2" type="radio" checked="" value="option2">
						No
					</label>
				</div>
			</div>

			<div class="form-group">
				<label>Would you like a story timer?</label>

				<div class="radio">
					<label>
						<input name="optionsTimer" id="optionsTimer1" type="radio"  value="option1">
						Yes
					</label>
				</div>
				<div class="radio">
					<label>
						<input name="optionsTimer" id="optionsTimer2" type="radio" checked="" value="option2">
						No
					</label>
				</div>
			</div>

			<div class="form-group">
				<label for="stories">Import stories (optional, one per line)</label>
				<textarea ng-model="newGame.stories" rows="10" class="form-control" id="stories" placeholder="Enter stories"></textarea>
				<p class="help-block">Copy and paste to import stories into your game.</p>
			</div>

			<div class="form-group">

				<button class="btn btn-default" type="reset">Cancel</button>
				<button class="btn btn-default" type="button">Save</button>
				<button class="btn btn-primary" (click)="onSubmit()" type="submit">Save & Play</button>

			</div>


		</form>
	</div>
</div>