<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>NEW GAME</h1>
		<form [formGroup]="form" ng-submit="createGame()" novalidate>
			<div class="form-group">
				<input class="form-control" [focus]="nameInputFocus" formControlName="name" name="name" id="inputGameName" type="text" placeholder="Game Name">
				<div class="alert alert-danger" *ngIf="!form.controls['name'].valid && submitAttempted">You must enter a name for your game.</div>
			</div>
			<div class="form-group">
				<label for="inputDescription">Description:</label>
				<textarea class="form-control" formControlName="description" id="inputDescription" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label for="inputVelocity">Story points in sprint:</label>
				<input class="form-control" formControlName="velocity" id="inputVelocity" placeholder="The amount of work a Team can tackle during a single Sprint."
				 type="number">
			</div>
			<div class="form-group">
				<label>Choose your card set:</label>

				<div class="radio">
					<label>
					<input formControlName="cardSet" id="optionsCardSet1" type="radio" checked=""  value="Fibonacci">
					Fibonacci ( 0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ?, Infinity, Pass )
					</label>
				</div>
				<div class="radio">
					<label>
				<input formControlName="cardSet" id="optionsCardSet2" type="radio"  value="Simple">
					Simple ( 0, ½, 1, 2, 3, 5, 8, 13, 20, 40, 100, ?, Infinity, Pass)
				</label>
				</div>
				<div class="radio">
					<label>
				<input formControlName="cardSet" id="optionsCardSet3" type="radio"  value="T-Shirts">
					T-shirts ( xxs, xs, s, m, l, xl, xxl, ?, Pass)
				</label>
				</div>
				<!--<div class="radio">
					<label>-->
				<!--<input formControlName="cardSet" id="optionsCardSet4" type="radio"  value="Powers of 2">
					Powers of 2 ( 0, 1, 2, 4, 8, 16, 32, 64, ?, Pass)
				</label>-->
				<!--</div>-->
			</div>

			<div class="form-group">
				<button class="btn btn-default" type="reset">Cancel</button>
				<button class="btn btn-primary pull-right" (click)="onSubmitSavePlay()" type="submit">Create</button>
			</div>

		</form>
	</div>
</div>