<body>



  <div class="container-fluid">
    <div class="game">
      <div class="col-xs-8 col-md-4 sidebar">
        <app-game-controller (flip)="FlipCards()"></app-game-controller>
      </div>

      <div class="col-xs-8 gameBoard">
        <div class="main">
          <h3 class="gameName">{{game.name}}</h3>
          <h3 class="userStory"> User Story # {{story.storyId}}</h3>
          <p>Details for user story</p>
          <hr class="divider" />
        </div>
        <div class="cardsPlayed">
          <div class="col-lg-1 col-md-1">
            <div class="cardfront" [hidden]="hideFront">
              <!--front content-->
            </div>
            <div class="cardback animated flipInY" [hidden]="hideBack">
              <!--back content-->
              1
            </div>

          </div>

        </div>
        <div class="cardFooter col-xs-8">
          <hr class="divider" />


          <span *ngFor="let card of cards">
            <input type="radio" name="cardSelect" id="{{card.text}}" />
            <label class="card" for="{{card.text}}">    
            <span>
            {{card.text}}
           </span>
          </label>
          </span>

          <span>
          <input type="radio" name="cardSelect" id="infinity" />
          <label class="card" *ngIf="cardDeck == 'Fibonacci'" for="infinity">
          <span>
              <img src="../assets/images/infinity2.png" alt="">
            
          </span>
          </label>
          </span>

          <span>
            <input type="radio" name="cardSelect" id="pass" />
            <label class="card" for="pass">
          <span>
              Pass
          </span>
          </label>
          </span>

        </div>



      </div>


    </div>

  </div>


</body>