.userStory{
    height: 100px;
    width: 100%;
    padding:10px 0 10px;
    margin-top: 5px;
    color: black;
   
}

.userStory h3{

    color: black;
}



.cardHolder{
    width: 100px;
    height: 140px;
    color: black;
    text-align: center;
}

.cardheader {
    padding: 20px 0 80px;
    height: 600px;
    width: 100%;
    margin-top: 50px;
    color: black;
    
}



 .cardfront {
    width: 100px;
    height: 140px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    background-image: url('/src/assets/images/goat.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 2px;
    cursor: pointer;
    color: black;
    text-align: center;
  
}



.cardback {
    background-image: none;
    text-align: center;
    color: black;
    width: 100px;
    height: 140px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    backface-visibility: hidden;
}

