<div class="col-lg-12 col-md-12">
  <div id="userStory" class="userStory">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">

          <h3>User Story #</h3>
          <p>Description of user story.</p>



        </div>

      </div>
    </div>

  </div>


  <div id="cardheader" class="cardheader">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1">
          <div class="cardHolder">
            <div class="cardfront" [hidden]="hideFront">
              <!--front content-->
            </div>
            <div class="cardback animated flip" [hidden]="hideBack">
              <!--back content-->
              1
            </div>
            <br> User Name
          </div>

        </div>


      </div>
    </div>

    <br>
    <br>


  </div>

  <div class="gamecontroller">
    <div class="container">
      <div class="col-lg-4 col-md-4">
        <app-game-controller></app-game-controller>
      </div>
    </div>
  </div>

</div>