<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a href="#" routerLink="dashboard">
			<div class="navbar-header">
				StoryPointGames.com
			</div>
		</a>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="listpadded"><a href="#" routerLink="createNewGame" *ngIf="(user | async)?.uid">Create New Game</a></li>
				<li class="listpadded"><a href="#" routerLink="savedGames" *ngIf="(user | async)?.uid">Saved Games</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="logintext" *ngIf="!(user | async)?.uid"><a href="register">Register</a></li>
				<li routerLink="/account" class="logintext"><img *ngIf="(user | async)?.uid" class="userimg" src="{{(user | async)?.photoURL}}"> {{(user | async)?.displayName}}</li>
				<li><a class="logintext" (click)="LoginModal.open()" *ngIf="!(user | async)?.uid">Login</a></li>
				<!--<button type="button" class="btn btn-default" (click)="LoginModal.open()">test</button>-->
			</ul>
		</div>
	</div>
</nav>

<!--{{user | async | json}}-->

<modal #LoginModal>

	<modal-header [show-close]="true">
		<h4 class="modal-title">Please Log In</h4>
	</modal-header>
	<form role="form">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="Enter Email" name="email" [(ngModel)]="userEmail" />
			<a class="registerModal" href="register">Not Registered?</a>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" name="pass" [(ngModel)]="userPass" />
			<a class="registerModal" href="/recoverPassword">Forget Password?</a>
		</div>
	</form>

	<modal-footer>
		<input type="image" src="../assets/images/googlelogin.png" alt="Submit" class="googleButton" align="left" (click)="login('google')"
		 data-dismiss="modal">
		<button class="btn btn-default" type="cancel" data-dismiss="modal">Cancel</button>
		<button class="btn btn-info" type="submit" data-dismiss="modal" (click)="login('custom')">Login</button>
	</modal-footer>

</modal>

<router-outlet></router-outlet>