<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a href="#" routerLink="dashboard">
			<div class="navbar-header">

				StoryPointGames.com


			</div>
		</a>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="listpadded"><a href="#" routerLink="createNewGame" *ngIf="user.uid">Create New Game</a></li>
				<li class="listpadded"><a href="#" routerLink="savedGames" *ngIf="user.uid">Saved Games</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="logintext" *ngIf="!user.uid"><a href="register">Register</a></li>
				<li class="logintext"><img *ngIf="user.uid" class="userimg" src="{{user.photoURL}}"> {{user.name}}</li>
				<li><a class="logintext" (click)="LoginModal.open()" *ngIf="!user.uid">Login</a></li>
				<!--<button type="button" class="btn btn-default" (click)="LoginModal.open()">test</button>-->
				<li><a class="logintext" (click)="Logout()" *ngIf="user.uid">Logout</a></li>

			</ul>
		</div>
	</div>
</nav>


<modal #LoginModal>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Please Log In</h4>
	</modal-header>
	<form role="form">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" class="form-control" id="email" placeholder="Enter Email" ng-model="email" />
			<a class="registerModal" href="register">Not Registered?</a>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" />
			<a class="registerModal" href="#">Forget Password?</a>
		</div>

	</form>


	<modal-footer>
		<input type="image" src="/src/assets/images/googlelogin.png" alt="Submit" class="googleButton" align="left" (click)="Login()">
		<button class="btn btn-default" type="cancel" data-dismiss="modal">Cancel</button>
		<button class="btn btn-info" type="submit">Login</button>

	</modal-footer>


</modal>



<router-outlet></router-outlet>