.userimg {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 10px;
  border: none;
  outline: none;

}

.logintext{
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  
}

.form-group{
  margin-left: 20px;
  width:500px;

} 

.modal-title {
  color: black;
}

.listpadded{
  margin-left: 20px;
}



.navbar-header {
    float: left !important;
    font-size: 30px !important;
    font-family: 'Exo', sans-serif !important;
    font-style: normal !important;
    color:white !important;
    margin-top:5px;

}

.addClick{
  cursor: pointer;
}




