<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<a href="#">
			<div class="navbar-header">

				StoryPointGames.com

			</div>
		</a>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="listpadded"><a href="#" routerLink="createNewGame" *ngIf="user.uid">Create New Game</a></li>
				<li class="listpadded"><a href="#" routerLink="savedGames" *ngIf="user.uid">Saved Games</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><img *ngIf="user.uid" class="userimg" src="{{user.photoURL}}"> {{user.name}}</li>
				<li><a href="#" (click)="Login()" *ngIf="!user.uid">Login</a></li>
				<!--<button type="button" class="btn btn-default" (click)="LoginModal.open()">test</button>-->
				<li><a href="#" (click)="Logout()" *ngIf="user.uid">Logout</a></li>

			</ul>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>