.table .break,
.table .trash,
.table .edit,
.table .exit,
.table .story{
  
  cursor: pointer;
  font-size: 20px;
  color: black;
}


.table .play{
   cursor: pointer;
  font-size: 20px;
  color: green;
}

.table .join{
  cursor: pointer;
  font-size: 20px;
  color: blue;
}