<p>
  dashboard workxxs!
</p>

<div class="form-group">
        <!--
				<button class="btn btn-default" type="reset">Cancel</button>
				<button class="btn btn-default" type="button">Create</button>
				<button class="btn btn-primary" (click)="onSubmit()" type="submit">Save & Play</button>

        <li class="listpadded"><a href="#" routerLink="createNewGame" *ngIf="user.uid">Create New Game</a></li>
				<li class="listpadded"><a href="#" routerLink="savedGames" *ngIf="user.uid">Saved Games</a></li>

        <button *ngIf="user?.uid" md-button routerLink="vehicles">Vehicles</button>

        -->
        <button class="btn btn-primary" routerLink="createNewGame">Create Game</button>


</div>