<h1>
  Account Information
</h1>

<ul>
  <li>name {{this.userName}} </li>
  <li>email {{this.userEmail}} </li>
  <li>provider {{this.userProviderID}} </li>
  <li>PhotoURL {{this.userPhotoURL}} </li>
</ul>

<ul>
  <div *ngIf="this.userProviderID == 'password'">
    <li><button routerLink="update-name">Change Name</button></li>
    <li><button routerLink="update-email">Change Email</button></li>
    <li><button>Change Password</button></li>
  </div>
  <br>
  <li><button (click)="logout()">Logout</button></li>
</ul>